--exclude src/MainApp/Resources/Generated/Strings.swift
--indent 4
--allman false
--commas inline
--wraparguments beforefirst
--wrapcollections beforefirst
--stripunusedargs closure-only
--self remove
--disable redundantSelf,redundantRawValues,numberFormatting
--header ignore
--semicolons never
--ranges spaced
--trimwhitespace always